@media (max-width: 800px){

    /* -------- HEADER -------- */


    header {
        display: flex;
        justify-content: center;
        justify-content: space-around;
    }

    header .nav-container,
    header .btn-div {
        display: none;
    }

    header i {
        color: #f7f7f7;
        font-size: 3rem;
        transition: ease-in-out 0.2s;
    }

    /* -------- WELCOME -------- */

    .section-cv img {
        display: none;
    }

    .section-cv {
        background-image: url(./assets/eu2.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    .section-cv .typing {
        margin-bottom: 3rem; 
    }


    /* -------- MAIN ----------- */

    main .about img {
        grid-column: 1/-1;
        justify-self: center;
        border-radius: 5%;
    }

    main .about-content {
        grid-column: 1/-1;
    }
}