@media (max-width: 800px){

    /* -------- HEADER -------- */

    header {
        justify-content: space-between;
        padding: 30px 20px;
    }
    
    header .nav-container {
        display: none;
    }

    header .nav-container.active {
        background: linear-gradient(rgba(0, 0, 0, 0.176), rgba(68, 65, 65, 0.674));
        position: absolute;
        display: grid;
        top: 50px;
        z-index: 2;
        padding: 30px;
        font-size: 3rem;
        border-radius: 0 0 10px 10px;
        right: 70px;
        animation: upSection .8s ease-in-out forwards;
    }

    header i {
        color: #f7f7f7;
        font-size: 3rem;
    }

    /* -------- WELCOME -------- */
    
    .section-cv img {
        display: none;
    }

    .section-cv {
        padding-top: 200px;
        background-image: url(./assets/eu2.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    .section-cv h2 {
        font-size: 1.7rem;
    }

    .section-cv p {
        padding-top: 70px;
    }

    .section-cv div {
        margin-top: 0
    }

    /* -------- MAIN ----------- */
    
    .about img {
        grid-column: 1/-1;
        justify-self: center;
        width: 70%;
    }

    .about-content {
        grid-column: 1/-1;
    }

    /* -------- PROEFICIENCY ----------- */



    /* -------- MY RESUME ----------- */
    .generic-resume .experience-content, .generic-resume .education-content{
        justify-self: center;
        grid-column: 1/-1;
    }

    .generic-resume .education {
        grid-column: 1/-1;
        grid-row: 3;
        justify-self: center;
        margin-top: 50px 0;
    }

    .generic-resume .experience {
        grid-column: 1/-1;
        grid-row: 1;
        justify-self: center;
    }

    

}



@media (max-width: 550px) {
    
}