@media (max-width: 850px) {
    .header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 250px;
    }
    .nav-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}

@media (max-width: 600px) {

    /*              HEADER                 */
    .header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 600px;
    }
    .welcome {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 10px;
    }
    .nav-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .nav-container li{
        margin-bottom: 15px;
    }

    .btn-div {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .section-cv {
        display: flex;
        flex-direction: column;
    }

    .dev-img {
        display: none;
    }

     /*              MAIN                 */

    main .about {
        display: flex;
        flex-direction: column;
    }

    main .about-content .text h1{
        font-size: 1.8rem;
    }

    main .about-content .about-info {
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }

}